

html{
  font-size: 1rem;
}

body{
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

a{
  text-decoration: none;
  color: #fff;
}
/* 헤더 */

.header{
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  order: 1;
}

.logo img{
  width: 47px;
  height: 47px;
}

.menubox1{
  order: 0;
}

.left-menu, .right-menu{
  display: flex;
}

.menubox2{
  order: 2;
}

.left-menu a, .right-menu a{
  margin-right: 15px;
}


/* 메인 콘텐츠 */

main{
  width: 100%;
  min-height: 1100px;
  background-image: url(../assets/volvo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container{
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.car_text{
  color: #fff;
  background-color: #aaa;
}

.car_text span{
  display: block;
}

.car_text span:first-child{
  color: #000;
}

.car_text span:last-child{
  font-size: 40px;
}

.btn-more{
  border: 1px solid #fff;
  color:#fff;
  font-size: 1.2rem;
  padding: 20px 50px;
  width: 250px;
  margin-left: 20px;
}

.btn-more:hover, .btn-more:focus{
  background-color: #fff;
  color: #000;
}


/* 푸터 */

footer{
  background-color: #161618;
  width: 100%;
  color: #fff;
  text-align: center;
  /* height: 900px; */
}


.footer-menu{
  /* background-color: red; */
  margin: 0 auto;
  width: 700px;
  padding-top: 55px;
}

.footer-menu li{
  padding: 0;
  list-style: none;
  display: inline-block;
}

.footer-menu li:nth-child(1) a{
  padding-left: 0 ;
}

.footer-menu li:nth-child(6) a{
  padding-left: 0 ;
  padding-right: 19px;
}


.footer-menu a{
  display: inline-block;
  font-size: .9rem;
  letter-spacing: 0;
  color: inherit;
  padding: 0 19px;
  padding-bottom: 20px;
}

.footer-menu a:hover{
  color: #ccc;
}

.sns {
  margin-top: 20px;
}

.sns a{
  display: inline-block;
  padding: 10px 10px;
}

.face-book a{
  padding-right: 15PX;
}

.face-book img{
  width: 20px;
}

.instagram a{
  /* background-color: blue; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
}

.instagram img{
  width: 19px;
}

.youtube img{
  width: 19px;
}

.youtube a{
  padding-left: 20px;
  padding-right: 0;
}

.location{
  /* background-color: green; */
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.location li{
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: .95rem;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 15px;
}

.location li:nth-child(1)::before{
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  background-image: url(/team-volvo/assets/globe.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.location a{
  /* background-color: red; */
  display: block;
  text-align: center;
  font-size: .85rem;
  letter-spacing: 1px;
  padding-right: 50px;
  padding-left: 0;
}

.location a:hover{
  color: #ccc;
}

small span{
  display: block;
  color: #aaa;
  font-size: .9rem;
}

.browsing {
  margin-top: 20px;
  font-size: 10px;
}

.law {
  margin-top: 20px;
  /* display: inline; */
  /* background-color: red; */
}
.law li{
  display: inline;
}

.law li:nth-child(2){
  /* background-color: red; */
  /* border-right: 1px solid #fff;
  border-left: 1px solid #fff; */
}

.law a{
  font-size: .91rem;
}

.law a::after{
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
  margin: 0 10px;
}

.law a::after:nth-child(3){
  background-color: red;
}

.top{
  /* background-color: red; */
  display: inline-block;
  margin-top: 50px;
  padding: 5px 50px;
  margin-bottom: 60px;
  text-align: center;
  border: 1px solid #fff;
  font-size: .9rem;
  line-height: 3;
  position: relative;
}

.top::after{
  /* background-color: red; */
  content: "";
  display: inline-block;
  background-image: url(/team-volvo/assets/top.PNG);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 20px 10px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  position: absolute;
  top: 20px;
}