ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.car_pic{
  background-image: url();
  background-color: #fff;
  width: 100%;
  height: 810px;
}
.car_text{
  color: #fff;
<<<<<<< HEAD
  background-color: #aaa;
=======

>>>>>>> 7b8f2a6f5d1fb4e8067ae27600e814e0469f62d2
}
